<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Detection Model</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <section id="home" class="hero">
        <div class="hero-content">
            <h1>Welcome to Spam Detection Model</h1>
            <p>An AI tool to detect and prevent spam messages.</p>
            <form action="/check_spam" method="post">
                <label for="message">Enter a message to check if it is spam or not:</label><br>
                <textarea name="message" id="message" rows="4" cols="50" placeholder="Enter your message here..." ></textarea><br>
                <button type="submit" class="cta-button">Check Spam</button>
            </form>
    </div>
    </section>

</body>
</html>
